name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'
    - uses: actions/setup-java@v5
      with:
        java-version: '8'
        distribution: 'adopt'
        cache: maven
    - run: mvn -B package --file pom.xml
    - name: Publish
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      env:
        SONATYPE_PORTAL_USERNAME: ${{ secrets.SONATYPE_PORTAL_USERNAME }}
        SONATYPE_PORTAL_PASSWORD: ${{ secrets.SONATYPE_PORTAL_PASSWORD }}
        GPG_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
        GPG_SECRET_KEYS: ${{ secrets.PGP_PRIVATE_KEY }}
      run: |
        echo -e "$GPG_SECRET_KEYS" | gpg --import --no-tty --batch --yes
        mvn clean deploy --settings .mvn/settings.xml -Dgpg.skip=false -Dmaven.test.skip=true -B
