name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
    - uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'adopt'
        cache: maven
    - run: mvn -B package --file pom.xml
    - name: Publish
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      env:
        OSSRH_USERNAME: ${{ secrets.SONATYPE_OSSRH_USERNAME }}
        OSSRH_PASSWORD: ${{ secrets.SONATYPE_OSSRH_PASSWORD }}
        GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        GPG_SECRET_KEYS: ${{ secrets.GPG_SECRET_KEYS }}
        GPG_OWNERTRUST: ${{ secrets.GPG_OWNERTRUST }}
      run: |
        echo $GPG_SECRET_KEYS | base64 --decode | gpg --import --no-tty --batch --yes
        echo $GPG_OWNERTRUST | base64 --decode | gpg --import-ownertrust
        mvn clean deploy --settings .mvn/settings.xml -Dgpg.skip=false -Dmaven.test.skip=true -B